.Logo {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #5b86e5, #36d1dc);
}
.Map {
  height: 30vh;
  border-radius: 3px;
  margin-top: 1rem;
}

.Container {
  margin: 5rem;
  padding: 3rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url("./assets/img/backimg.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 1rem 0 3rem rgba(51, 51, 51, 0.3);
  border-radius: 3px;
  text-align: center;
}

@media only screen and (max-width: 50em) {
  .Container {
    margin: 1rem;
    padding: 2rem;
  }
}

.Span {
  font-size: 2rem;
}
